@model OgrenciNotMvc.Models.EntityFramework.TBLOGRENCILER
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <form class="form-group" method="post">
        <div style="margin-bottom:15px">
            <label>Öğrenci Adı</label>
            @Html.TextBoxFor(x => x.OGRAD, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Öğrenci Soyadı</label>
            @Html.TextBoxFor(x => x.OGRSOYAD, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Öğrenci Fotoğraf</label>
            @Html.TextBoxFor(x => x.OGRFOTOGRAF, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Öğrenci Cinsiyet</label>
            @Html.TextBoxFor(x => x.OGRCINSIYET, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Öğrenci Kulüp</label>
            @Html.DropDownListFor(x=>x.TBLKULUPLER.KULUPID, (List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
        </div>
        <div style="margin-bottom:15px">
            <button class="btn btn-primary">Öğrenci Ekle</button>
        </div>
    </form>
